/* variables */
/* 
lg = large
md = medium
sm = small
*/
:root {
  --primary: #6c63ff;
  --dark: #222;
  --text: #555;
  --bg-light: #f3f4ef;
  --bg-dark: #1f1f1f;
  --spacing-lg: 60px;
  --spacing-md: 20px;
  --font-title: 60px;
  --blue: #717fe0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /* overflow-x: hidden; */
}

/* HEADER */
.header {
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-light);
  z-index: 1000;
}

.header.fixed {
  background-color: var(--bg-light);
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
}

.header__icons,
.header__nav {
  display: flex;
  gap: 30px;
  font-size: 20px;
}

.header__icon {
  cursor: pointer;
}

.header__icon:hover {
  color: var(--primary);
}

.header__nav-link {
  text-decoration: none;
  color: var(--text);
  font-weight: 600;
}

.header__nav-link--active {
  color: var(--primary);
  font-weight: bold;
}

.header__nav-mobile {
  display: none;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-light);
}

.hero__text {
  padding: var(--spacing-lg);
  position: absolute;
}

.hero__subtitle {
  font-size: 28px;
  margin-bottom: var(--spacing-md);
}

.hero__title {
  font-size: var(--font-title);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.btn--primary {
  background: var(--primary);
  padding: 16px 30px;
  border-radius: 40px;
  color: #fff;
  border: none;
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}

.btn--primary:hover {
  background-color: var(--bg-dark);
  color: white;
  cursor: pointer;
  transition: background-color 0.6s ease-in-out;
}
.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
}
.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* PRODUCT */
.products {
  padding: var(--spacing-lg) 80px;
}

.products__heading {
  font-size: 32px;
  text-align: left;
  margin-bottom: var(--spacing-lg);
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.product__img {
  width: 100%;
  height: 75%;
  margin: 0 auto 10px;
  border-radius: 3px;
  cursor: pointer;
}

.product__info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.product__name {
  font-weight: bold;
  color: var(--text);
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
  display: inline-block;
}

.product__btn {
  width: 100%;
  margin-top: 15px;
  padding: 12px 0;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  font-weight: bold;
}

.product__btn i {
  margin-left: 10px;
}
.product__btn:hover {
  background-color: #555;
  color: white;
}

/* FOOTER */
.footer {
  background-color: var(--bg-dark);
  color: #bbb;
  padding: var(--spacing-lg);
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__title {
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}

.footer__link {
  display: block;
  margin-bottom: 10px;
  color: #bbb;
  text-decoration: none;
}

.footer__text {
  max-width: 280px;
  text-align: justify;
}

.footer__input {
  height: 36px;
  width: 280px;
  background-color: var(--bg-dark);
}

.footer__socials {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.footer__socials i:hover {
  color: var(--blue);
  cursor: pointer;
}

.footer__col {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.footer__btn {
  height: 36px;
  width: 100px;
  margin-top: 18px;
  text-transform: uppercase;
  color: white;
  background-color: var(--blue);
  border-radius: 20px;
  font-weight: 500;
}

.footer__btn:hover {
  background-color: var(--bg-light);
  color: var(--blue);
  cursor: pointer;
  transition: background-color 0.6s ease-in-out;
}

.footer__line {
  margin-top: 30px;
  background-color: var(--bg-dark);
  color: var(--bg-light);
}

.footer__copyright {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  margin-top: 70px;
}

/* Responsive */
@media (min-width: 941px) {
  .nav-mobile {
    display: none;
  }
}

@media (max-width: 940px) {
  :root {
    --font-title: 40px;
  }
  .products {
    padding: var(--spacing-lg) 20px;
  }
  .products__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  .header__nav {
    display: none;
  }
  .header__nav-mobile {
    display: block;
  }

  .nav-mobile {
    overflow: hidden;
    max-height: 0;
    background-color: var(--blue);
    transition: max-height 0.4s ease;
  }

  .nav-mobile__menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 100%;
  }

  .nav-mobile a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .nav-mobile.is-open {
    max-height: 400px;
  }

  .footer__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  :root {
    --spacing-lg: 40px;
    --spacing-md: 15px;
    --font-title: 30px;
  }

  .header {
    padding: 12px 20px;
  }

  .header__logo {
    font-size: 18px;
  }

  .header__icons,
  .header__nav {
    gap: 15px;
    font-size: 12px;
  }

  .hero__text {
    position: absolute;
    padding: var(--spacing-md);
  }

  .hero__subtitle {
    font-size: 16px;
  }

  .hero__title {
    font-size: 32px;
  }
  .btn--primary {
    padding: 12px 24px;
  }

  .products {
    padding: var(--spacing-lg) 20px;
    max-width: 100%;
  }

  .products__heading {
    font-size: 24px;
  }

  .products__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .product__img,
  .product__img img {
    max-width: 100%;
  }

  .product__name {
    font-size: 14px;
  }

  .product__btn {
    margin-bottom: 30px;
  }
  .footer__container {
    flex-direction: column;
    gap: 30px;
  }

  .footer__title {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  :root {
    --spacing-lg: 20px;
    --spacing-md: 10px;
    --font-title: 24px;
  }

  .header {
    padding: 10px 15px;
  }

  .header__logo {
    font-size: 16px;
  }

  .header__nav {
    display: none;
  }

  .header__nav-link {
    font-size: 8px;
  }

  .header__nav-mobile {
    display: block;
  }

  .nav-mobile a {
    font-size: 12px;
  }
  .hero {
    margin-top: 40px;
  }

  .hero__text {
    position: absolute;
    padding: 10px;
    text-align: center;
  }

  .hero__subtitle {
    font-size: 12px;
  }

  .hero__title {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .btn--primary {
    padding: 12px 18px;
    font-size: 10px;
  }

  .products {
    padding: var(--spacing-lg) 16px;
  }

  .products__heading {
    font-size: 18px;
  }

  .products__grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .product__name {
    font-size: 12px;
  }

  .product__btn {
    font-size: 12px;
    padding: 10px 0;
  }

  .footer__container {
    flex-direction: column;
    gap: 20px;
  }

  .footer__title {
    font-size: 14px;
  }

  .footer__text {
    max-width: 100%;
    font-size: 12px;
  }

  .footer__input,
  .footer__btn {
    width: 100%;
  }
}
